<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <!--console表示会打印到catalina.out这个文件里-->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoding>UTF-8</encoding>
        <encoder>
            <!--日志的格式-->
            <pattern>[%d{HH:mm:ss.SSS}][%p][%c{40}][%t] %m%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <!--大于DEBUG的级别都会显示-->
            <level>DEBUG</level>
        </filter>
    </appender>

    <!--配置项目相关的日志，这里会将日志打印到mall.log中-->
    <appender name="mall" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>E:\software_setup\apache-tomcat-8.0.33-windows-x64\apache-tomcat-8.0.33\logs\mall.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>E:\software_setup\apache-tomcat-8.0.33-windows-x64\apache-tomcat-8.0.33\logs\mall.log.%d{yyyy-MM-dd}.gz</fileNamePattern>
            <append>true</append>
            <!--最大的存储时期，这里配置成10天-->
            <maxHistory>10</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>[%d{HH:mm:ss.SSS}][%p][%c{40}][%t] %m%n</pattern>
        </encoder>
    </appender>

    <!--日志会打印到error.log中-->
    <appender name="error" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>E:\software_setup\apache-tomcat-8.0.33-windows-x64\apache-tomcat-8.0.33\logs\error.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>E:\software_setup\apache-tomcat-8.0.33-windows-x64\apache-tomcat-8.0.33\logs\error.log.%d{yyyy-MM-dd}.gz</fileNamePattern>
            <append>true</append>
            <maxHistory>10</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>[%d{HH:mm:ss.SSS}][%p][%c{40}][%t] %m%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <!--级别配成error级别，如果是error级别就打印，否则拒绝打印-->
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <!--info级别的信息都会打印到mall和console中-->
    <logger name="com.mall" additivity="false" level="INFO" >
        <appender-ref ref="mall" />
        <appender-ref ref="console"/>
    </logger>



    <!-- geelynote mybatis log 日志 -->
    <!--dao层出现的sql都可以查看-->
    <logger name="com.mall.dao" level="DEBUG"/>

    <root level="DEBUG">
        <appender-ref ref="console"/>
        <appender-ref ref="error"/>
    </root>

</configuration>